<div class="row justify-content-md-center">
  <div class="col col-md-6">
    <h1 class="my-5 display-4">Students</h1>

    <ng-template [ngIf]="student$ | async" let-course [ngIfElse]="loading">
      <form (ngSubmit)="onSubmit()" [formGroup]="form">
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="name" placeholder="" formControlName="name" [ngClass]="{'is-invalid': isInvalid('name')}">
          <label for="name">Name</label>

          <div class="invalid-feedback" *ngIf="isInvalid('name')">
            <ng-template [ngIf]="form.controls['name'].errors?.required">You must inform a name</ng-template>
          </div>
        </div>

        <div class="form-floating mb-3">
          <input type="email" class="form-control" id="email" placeholder="" formControlName="email" [ngClass]="{'is-invalid': isInvalid('email')}">
          <label for="email">E-mail</label>

          <div class="invalid-feedback" *ngIf="isInvalid('email')">
            <ng-template [ngIf]="form.controls['email'].errors?.required">You must inform an e-mail</ng-template>
            <ng-template [ngIf]="form.controls['email'].errors?.email">The e-mail informed is invalid</ng-template>
          </div>
        </div>

        <div class="container-fluid mb-4">
          <div class="row" formArrayName="courses">
            <p><strong>Courses:</strong></p>

            <div class="form-check col-md-6" *ngFor="let order of coursesControl.controls; let i = index">
              <input class="form-check-input" type="checkbox" [value]="courses[i].id" id="course-{{courses[i].id}}" [formControlName]="i">
              <label class="form-check-label" for="course-{{courses[i].id}}">
                {{courses[i].name}}
              </label>
            </div>

            <div class="invalid-feedback" *ngIf="isInvalid('courses')" [ngStyle]="{'display': isInvalid('courses') && 'block'}">
              <ng-template [ngIf]="form.controls['courses'].errors?.required">At least on course must be selected</ng-template>
            </div>
          </div>
        </div>

        <div class="d-flex justify-content-end">
          <a class="btn btn-secondary mx-3" [routerLink]="['/students']">Cancel</a>
          <button class="btn btn-primary">Save</button>
        </div>
      </form>
    </ng-template>

    <ng-template #loading>Loading...</ng-template>
  </div>
</div>
