<h1 class="my-5 display-4">
  Students
  <a class="btn btn-primary btn-lg" [routerLink]="['/students/new']">New Student</a>
</h1>

<ng-template [ngIf]="students$ | async" let-response [ngIfElse]="loading">
  <table class="table table-striped table-hover table-bordered table-sm">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">E-mail</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <ng-template [ngIf]="response._embedded.students.length" [ngIfElse]="empty">
        <tr *ngFor="let student of response._embedded.students">
          <th scope="row">{{ student.id }}</th>
          <td>{{ student.name }}</td>
          <td>{{ student.email }}</td>
          <td class="text-center text-nowrap">
            <a class="btn btn-success btn-sm" [routerLink]="['/students', student.id]">Edit</a>
            &nbsp;
            <button class="btn btn-danger btn-sm" (click)="onRemove(student.id)">Remove</button>
          </td>
        </tr>
      </ng-template>

      <ng-template #empty>
        <tr>
          <td colspan="4" class="text-center">
            There are no records! <br>
            Go to <a class="btn btn-primary btn-sm" [routerLink]="['/students/new']">New Student</a> to create a new one.
          </td>
        </tr>
      </ng-template>
    </tbody>
  </table>

  <nav class="d-flex justify-content-end align-items-center" *ngIf="response.page.totalPages > 1">
    <span class="text-muted mb-3 mx-3">
      Page {{ response.page.number + 1 }} of {{ response.page.totalPages }}: {{ response.page.totalElements }}
    </span>
    <ul class="pagination justify-content-end">
      <li class="page-item" [ngClass]="{disabled: response.page.number <= 0}">
        <button class="page-link" (click)="onPrevious(response.page)" [disabled]="response.page.number <= 0">Previous</button>
      </li>

      <li class="page-item" [ngClass]="{disabled: response.page.number >= response.page.totalPages - 1}">
        <button class="page-link" (click)="onNext(response.page)" [disabled]="response.page.number >= response.page.totalPages - 1">Next</button>
      </li>
    </ul>
  </nav>
</ng-template>

<ng-template #loading>Loading...</ng-template>
